# Backend
# Database Configuration
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=mydb


# API Configuration
# Add other API environment variables here

GEMINI_API_KEY_1=your_api_key
GEMINI_API_KEY_2=your_api_key # OPTIONAL
GEMINI_API_KEY_3=your_api_key # OPTIONAL

GROQ_API_KEY=your_api_key


# Front end
NEXTAUTH_SECRET=your_secret
# Next.js Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000
# Add other Next.js environment variables here
API_BASE_URL=http://api:8000