# Database
POSTGRES_USER=curricompass
POSTGRES_PASSWORD=devpassword123
POSTGRES_DB=curricompass

# Backend secrets
SECRET_KEY=21nbAB4oTObt4hV3z7uz9TRgLSLz7ioTnC4Wy1-D51mYTcUF26_yrlPJyHvD8xoi

# AI API Keys — replace with your actual keys
GEMINI_API_KEY_1=AIzaSyA9NDoHFqlYZ6sAOOy-S7laorwHnWMdhuk
GEMINI_API_KEY_2=AIzaSyCt7QUPB4C_h9GCjqhM_yExD_QKtdLnX24
GROQ_API_KEY=paste_your_groq_key_here

# Frontend
NEXTAUTH_SECRET=GVfzw9J-3r-P8_c-Ggwkl8kDCmLi-gQBfrSZWFWoBLg
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000
API_BASE_URL=http://api:8000