fastapi
uvicorn[standard]
sqlalchemy
asyncpg
pydantic
email-validator
pydantic-settings
python-dotenv
python-jose[cryptography]

bcrypt==4.0.1
passlib[bcrypt]==1.7.4

langchain
langchain-community
pymupdf
pdfplumber